/.CFUserTextEncoding
/.DS_Store
/.Trash
/.anaconda
/.bash_profile
/.conda
/.condarc
/.config
/.continuum
/.gitconfig
/.ipynb_checkpoints
/.ipython
/.jupyter
/.sogouinput
/.tcshrc
/.vscode
/.wns
/.xonshrc
/.zsh_history
/.zsh_sessions
/.zshrc
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Presto Connection.ipynb
/Public
/anaconda3
/Google Drive